*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
}

h2,
.h2 {
	margin-bottom: 0.5em;
}

hr {
	height: 1px;
	margin: 1.5em auto;
	background: teal;
	border: none;
}
.text-center {
	text-align: center;
}

.App {
	max-width: 800px;
	width: 100%;
}

.post {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px;
	border: 2px solid teal;
}
/* .post__content {
} */
/* .post__btns {
} */

.post-enter {
	opacity: 0;
	transform: translateX(-350px);
}
.post-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: all 500ms ease-in;
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	opacity: 0;
	transform: translateX(-350px);
	transition: all 500ms ease-in;
}

.select {
	padding: 5px 15px;
	font-size: 16px;
	font-weight: 700;
	color: teal;
	background-color: transparent;
	border: 1px solid teal;
	cursor: pointer;
}
.page {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 1px;
	padding: 10px;
	width: 41px;
	height: 41px;
	border: 1px solid teal;
	cursor: pointer;
}
.page:hover,
.page--current {
	color: white;
	font-weight: 700;
	background-color: teal;
}

.nav,
.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.nav__list {
	padding: 5px;
	list-style: none;
}
.nav__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	padding: 5px 25px;
	min-height: 50px;
	text-decoration: none;
	color: White;
	font-size: 20px;
	font-weight: 700;
	background-color: teal;
}
.nav__link:hover {
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
}
